html, body {
    height: 100%;
}

body {
    perspective: 2000px;
    transform-style: preserve-3d;
}

@keyframes round {
    from {
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateY(360deg);
    }
}

.wrapper {
    position: absolute;
    width: 200px;
    height: 300px;
    left: calc(50%);
    top: calc(50%);
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    animation: round 10s linear infinite;
}

.wrapper img {
    position: absolute;
    width: 200px;
    backface-visibility: visible;
}

.wrapper img:nth-of-type(1) {
    transform: rotateY(45deg) translatez(500px);
}

.wrapper img:nth-of-type(2) {
    transform: rotateY(90deg) translatez(500px);
}

.wrapper img:nth-of-type(3) {
    transform: rotateY(135deg) translatez(500px);
}

.wrapper img:nth-of-type(4) {
    transform: rotateY(180deg) translatez(500px);
}

.wrapper img:nth-of-type(5) {
    transform: rotateY(225deg) translatez(500px);
}

.wrapper img:nth-of-type(6) {
    transform: rotateY(270deg) translatez(500px);
}

.wrapper img:nth-of-type(7) {
    transform: rotateY(315deg) translatez(500px);
}

.wrapper img:nth-of-type(8) {
    transform: rotateY(360deg) translatez(500px);
}